@import "tailwindcss";
@import 'highlight.js/styles/github.css'; /* or another theme you like */

:root {
  --background: rgb(244, 244, 247);
  --foreground: rgb(14, 14, 16);
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* globals.css */
.hljs-comment {
  color: rgb(141, 188, 108);
}
.hljs {
  background-color: transparent !important;
}

/* Light theme scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a3a3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(14, 14, 16);
    --foreground: rgb(244, 244, 247);
  }
}

@layer utilities {
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out forwards;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .shadow-3xl {
    box-shadow: 0 35px 60px -12px rgba(0, 0, 0, 0.25);
  }

  .animate-wiggle {
    animation: wiggle 0.5s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .animate-fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}
@layer components {
  .nav-web {
    @apply fixed top-0 left-0 w-full flex justify-center items-center 
    gap-8 z-[100] pb-2 pt-2 bg-[rgb(244,244,246)] dark:bg-[rgb(9,9,10)]
    font-bold text-lg
    text-gray-500 dark:text-gray-300
    shadow-md;
    
  }

  .nav-web-item {
    @apply hover:text-black dark:hover:text-white hover:underline
    transition-all duration-300 cursor-pointer;
  }

  .nav-toggle-theme {
    @apply flex gap-2 absolute right-5 p-1 rounded-md
    cursor-pointer 
    text-gray-500 dark:text-gray-400 hover:text-black dark:hover:text-white hover:bg-gray-200 dark:hover:bg-gray-700
    transition-all duration-300;
  }

  .nav-dropDown-page {
    @apply fixed left-0 w-full flex flex-col bg-[rgb(244,244,246)] pl-12 dark:bg-[rgb(9,9,10)] 
    text-gray-500 dark:text-gray-300
    overflow-hidden max-h-0 shadow-md dark:shadow-gray-700 cursor-default;
  }

  .nav-dropDown-item {
    @apply pb-3 font-bold opacity-0 w-1/4 
    hover:text-black dark:hover:text-white hover:underline
    transition-colors duration-300 cursor-pointer;
  }

  .nav-dropDown-item-active {
    @apply text-black dark:text-white
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
